.bg_login {
    background-image: url(https://aice.cloud/img/conference2.jpg);
    background-size: cover;
    color: #636b6f;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.createbutton {
    position: absolute;
    right: 10px;
    top: 10px;
    border: 1px solid #808080;
    border-radius: 3px;
    padding: 2px 10px;
    cursor: pointer;
}
.meetinglist {
    width: 100%;
}
.roominbutton {
    border: royalblue 1px solid;
    border-radius: 3px;
    padding: 2px;
}
.infobutton {
    padding: 2px;
    color: #393939;
}
.button-area {
    display: flex;
    justify-content: center;
}
.button {
    background-color: cadetblue;
    color: #ffffff;
    padding: 20px 40px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}
.button-area > a {
    color: #ffffff;
    text-decoration: none;
}
.mb-20 {
    margin-bottom: 20px;
}
